### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import re
import pickle

### Import data

In [2]:
df = pd.read_csv('../data/joined_cleaned_movies_metadata.csv')

In [4]:
len(df)

2368

In [6]:
rating = pd.read_pickle('../assets/rating.pkl')
movie = pd.read_pickle('../assets/movie.pkl')

In [3]:
movie.head()

,adult,budget,genres,id,original_title,overview,popularity,revenue,runtime
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,0.0,101.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,81452156.0,127.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,76578911.0,106.0

In [4]:
movie.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64