### Import Libraries

In [5]:
import pandas as pd
import numpy as np
import os
import re
import pickle

### Import data

In [6]:
df = pd.read_pickle('../assets/df.pkl')

In [7]:
len(df)

11477723

- filter movie

In [8]:
df = df[~df.rating.isnull()]

filter out movies that were not rated by users.

### Movie

In [9]:
df.head()

,adult,budget,id,original_title,overview,popularity,revenue,runtime,genre_unlisted,userId,...,horror,movie,music,mystery,romance,science,thriller,tv,war,western
0,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",1923.0,...,0,0,0,0,0,0,0,0,0,0
1,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",2103.0,...,0,0,0,0,0,0,0,0,0,0
2,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",5380.0,...,0,0,0,0,0,0,0,0,0,0
3,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",6177.0,...,0,0,0,0,0,0,0,0,0,0
4,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",6525.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df.columns

Index(['adult', 'budget', 'id', 'original_title', 'overview', 'popularity',
       'revenue', 'runtime', 'genre_unlisted', 'userId', 'rating', 'action',
       'adventure', 'animation', 'comedy', 'crime', 'documentary', 'drama',
       'family', 'fantasy', 'fiction', 'foreign', 'genre_not_specified',
       'history', 'horror', 'movie', 'music', 'mystery', 'romance', 'science',
       'thriller', 'tv', 'war', 'western'],
      dtype='object')

In [11]:
movie_features = ['id', 'original_title', 'adult', 'overview', 'popularity', 
                  'revenue', 'runtime', 'genre_unlisted', 'action', 'adventure',
                  'animation', 'comedy', 'crime', 'documentary', 'drama', 'family',
                  'fantasy', 'fiction', 'foreign', 'genre_not_specified', 'history',
                  'horror', 'movie', 'music', 'mystery', 'romance', 'science',
                  'thriller', 'tv', 'war', 'western']

In [12]:
movie_df = df[movie_features]

In [13]:
movie_df.drop_duplicates(subset = ['id'], inplace = True)

/var/folders/fs/cfk2d3gj3pq3dv6hy4hx1bgc0000gn/T/ipykernel_50172/514133806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df.drop_duplicates(subset = ['id'], inplace = True)

drop duplicate values

In [14]:
movie_df = movie_df.reset_index().drop(columns = ['index'])

In [15]:
movie_df.head()

,id,original_title,adult,overview,popularity,revenue,runtime,genre_unlisted,action,adventure,...,horror,movie,music,mystery,romance,science,thriller,tv,war,western
0,862,Toy Story,False,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",0,0,...,0,0,0,0,0,0,0,0,0,0
1,8844,Jumanji,False,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0,"Adventure, Fantasy, Family",0,1,...,0,0,0,0,0,0,0,0,0,0
2,949,Heat,False,"Obsessive master thief, Neil McCauley leads a ...",17.924927,187436818.0,170.0,"Action, Crime, Drama, Thriller",1,0,...,0,0,0,0,0,0,1,0,0,0
3,710,GoldenEye,False,James Bond must unmask the mysterious head of ...,14.686036,352194034.0,130.0,"Adventure, Action, Thriller",1,1,...,0,0,0,0,0,0,1,0,0,0
4,1408,Cutthroat Island,False,"Morgan Adams and her slave, William Shaw, are ...",7.284477,10017322.0,119.0,"Action, Adventure",1,1,...,0,0,0,0,0,0,0,0,0,0

### User

In [16]:
df.head()

,adult,budget,id,original_title,overview,popularity,revenue,runtime,genre_unlisted,userId,...,horror,movie,music,mystery,romance,science,thriller,tv,war,western
0,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",1923.0,...,0,0,0,0,0,0,0,0,0,0
1,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",2103.0,...,0,0,0,0,0,0,0,0,0,0
2,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",5380.0,...,0,0,0,0,0,0,0,0,0,0
3,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",6177.0,...,0,0,0,0,0,0,0,0,0,0
4,False,30000000,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"Animation, Comedy, Family",6525.0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df.columns

Index(['adult', 'budget', 'id', 'original_title', 'overview', 'popularity',
       'revenue', 'runtime', 'genre_unlisted', 'userId', 'rating', 'action',
       'adventure', 'animation', 'comedy', 'crime', 'documentary', 'drama',
       'family', 'fantasy', 'fiction', 'foreign', 'genre_not_specified',
       'history', 'horror', 'movie', 'music', 'mystery', 'romance', 'science',
       'thriller', 'tv', 'war', 'western'],
      dtype='object')

In [18]:
user_features = ['id', 'original_title', 'popularity', 'userId', 'rating']

In [19]:
user_df = df[user_features]